# Demo

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import SearchEngine as SE
search_eng = SE.SearchEngine() # initialize a search engine

## Search title

In [3]:
res = search_eng.query(user_id=984, text="i love you", K=10_000, save_res=False) # we set K = 1e4 here just for demo purpose, 
# so we can see the tail of all books. This K is set to 20 by default, retrieving top 20 recommendations.

In [17]:
res.head(20) # top recommended books

,book_id,final_score,authors,title,isbn13
0,8648,2.563398,"Bernadette Rossetti-Shustak, Caroline Jayne Ch...",I Love You Through And Through,9.780440e+12
1,863,2.464846,"Sam McBratney, Anita Jeram",Guess How Much I Love You,9.780764e+12
2,3741,2.356172,Lisa Gardner,Love You More,9.780554e+12
3,608,2.352461,"Robert Munsch, Sheila McGraw",Love You Forever,9.780921e+12
4,269,2.135071,Cecelia Ahern,"PS, I Love You",9.780787e+12
5,9423,1.984753,Sarra Manning,You Don't Have to Say You Love Me,9.780552e+12
6,2112,1.896692,Jenny Han,P.S. I Still Love You,9.781442e+12
7,6402,1.825940,Cecily von Ziegesar,You Know You Love Me,9.780317e+12
8,3401,1.652947,Jennifer Weiner,Who Do You Love,9.781452e+12
9,8479,1.613021,Siri Hustvedt,What I Loved,9.780341e+12
10,656,1.610407,Ally Carter,"I'd Tell You I Love You, But Then I'd Have to ...",9.781423e+12
11,2934,1.603579,"Erich Fromm, Peter D. Kramer, Rainer Funk",The Art of Loving,9.780061e+12
12,2813,1.581374,Caroline Kepnes,You,9.781477e+12
13,2051,1.561824,Katherine Dunn,Geek Love,9.780376e+12
14,354,1.512014,Toni Morrison,Beloved,9.781400e+12
15,6986,1.500718,Lurlene McDaniel,"Don't Die, My Love",9.780554e+12
16,7051,1.480603,Laurelin Paige,Forever with You,NaN
17,112,1.459856,Jojo Moyes,Me Before You,9.780670e+12
18,8137,1.459855,Tarryn Fisher,F*ck Love,NaN
19,6540,1.450683,Lisa Kleypas,Love in the Afternoon,9.780313e+12

In [5]:
res.tail() # least recommended books

,book_id,final_score,authors,title,isbn13
9995,9755,0.134713,Pepper Winters,Debt Inheritance,9.781501e+12
9996,2015,0.131730,Robert James Waller,The Bridges of Madison County,9.780446e+12
9997,2302,0.131067,Alexandra Ripley,Scarlett: The Sequel to Margaret Mitchell's Go...,9.780446e+12
9998,4853,0.130949,Robert Masello,The Einstein Prophecy,NaN
9999,8007,0.128670,Howard Jacobson,The Finkler Question,9.781409e+12

## Search Author 

The model would also recognize if an author name shows up in the query, thus recommending more books by the given author(s).

In [6]:
res2 = search_eng.query(user_id=309, text="Louisa May Alcott", K=10_000, save_res=False)

In [16]:
res2.head(20)

,book_id,final_score,authors,title,isbn13
0,42,34.348733,Louisa May Alcott,Little Women,9.780452e+12
1,3580,27.551674,Louisa May Alcott,"Little Men, or Life at Plumfield with Jo's Boys",9.781407e+12
2,8888,25.631115,Louisa May Alcott,An Old-Fashioned Girl,9.781407e+12
3,7430,24.009470,Louisa May Alcott,Rose in Bloom,9.780316e+12
4,5458,14.770690,Louisa May Alcott,"Jo's Boys, and How They Turned Out: A Sequel t...",9.781407e+12
5,4645,14.577676,Louisa May Alcott,Eight Cousins,9.780486e+12
6,8740,12.257887,Louisa May Alcott,Good Wives,9.781419e+12
7,184,1.961975,"Roald Dahl, Quentin Blake",Matilda,9.780141e+12
8,1210,1.785306,L.M. Montgomery,Anne of Avonlea,9.780553e+12
9,5086,1.639275,Alison Weir,The Lady Elizabeth,9.780345e+12
10,8618,1.593112,Antonia Fraser,The Wives of Henry VIII,9.780680e+12
11,7015,1.546178,"Stephen King, Michael Whelan",The Little Sisters of Eluria,9.781880e+12
12,5103,1.539480,Daniel Silva,The English Girl,9.780062e+12
13,3904,1.532296,L.M. Montgomery,Anne of Ingleside,9.780553e+12
14,6090,1.488857,Sarah McCoy,The Baker's Daughter,9.780307e+12
15,3302,1.484350,Juliet Marillier,Daughter of the Forest,9.780765e+12
16,1198,1.478202,Hanya Yanagihara,A Little Life,9.780386e+12
17,9113,1.462368,Carolly Erickson,The Last Wife of Henry VIII,9.780312e+12
18,5880,1.455489,Megan Whalen Turner,The Queen of Attolia,9.780061e+12
19,1222,1.448299,"E.B. White, Garth Williams",Stuart Little,9.780064e+12

In [8]:
res2.tail()

,book_id,final_score,authors,title,isbn13
9995,4282,0.111295,Chuck Palahniuk,Pygmy,9.780386e+12
9996,2283,0.111142,Alexandra Adornetto,Halo,9.780313e+12
9997,4283,0.106360,Lauren Weisberger,Revenge Wears Prada: The Devil Returns,9.781439e+12
9998,8874,0.099585,Chuck Palahniuk,Tell-All,9.780386e+12
9999,52,0.096276,Stephenie Meyer,Eclipse,9.780316e+12

## To-read List

The model considers the book on one's to-read list, and of course it is personalized based on one's past ratings. Let's see what it returns if we do not put anything in the query.

In [9]:
res3 = search_eng.query(user_id=309, text="", K=10_000, save_res=False)

In [10]:
res3.head(20)

,book_id,final_score,authors,title,isbn13
0,87,0.313195,"Elie Wiesel, Marion Wiesel",Un di Velt Hot Geshvign,9.780375e+12
1,181,0.293224,Truman Capote,In Cold Blood,9.780680e+12
2,289,0.289965,Richard Adams,Watership Down,9.780380e+12
3,57,0.285388,Sue Monk Kidd,The Secret Life of Bees,9.780142e+12
4,426,0.285237,"John Kennedy Toole, Walker Percy",A Confederacy of Dunces,9.780802e+12
5,36,0.282680,Lois Lowry,The Giver,9.780386e+12
6,118,0.281697,Amy Tan,The Joy Luck Club,9.780143e+12
7,1223,0.280561,Isaac Asimov,The Foundation Trilogy,9.780381e+12
8,385,0.279951,Susan Cain,Quiet: The Power of Introverts in a World that...,9.780307e+12
9,129,0.278756,Ken Kesey,One Flew Over the Cuckoo's Nest,9.780451e+12
10,1198,0.275869,Hanya Yanagihara,A Little Life,9.780386e+12
11,7290,0.275590,James Jones,From Here to Eternity,9.780517e+12
12,357,0.274877,"Erich Maria Remarque, A.W. Wheen",Im Westen nichts Neues,9.780449e+12
13,2570,0.274070,Margaret Atwood,MaddAddam,9.780386e+12
14,4378,0.272871,Brian McClellan,Promise of Blood,9.780316e+12
15,6310,0.271177,Gavin Extence,The Universe Versus Alex Woods,9.780316e+12
16,35,0.271065,"Paulo Coelho, Alan R. Clarke",O Alquimista,9.780061e+12
17,614,0.269802,"Franz Kafka, Edwin Muir, Willa Muir, Max Brod",Der Prozeß,9.780099e+12
18,5954,0.267223,Paul Tremblay,A Head Full of Ghosts,9.780062e+12
19,794,0.265412,Stephen King,Doctor Sleep,9.781477e+12

In [12]:
import pandas as pd, numpy as np
to_read = pd.read_csv("goodbooks-10k/to_read.csv")
to_read309 = set(to_read[to_read.user_id==309].book_id)

In [13]:
np.all([x in to_read309 for x in res3.head(20).book_id]) # Top 20 recommended books are all in user 309's to-read list!

True