# Demo

In [6]:
import warnings
warnings.filterwarnings("ignore")

In [7]:
import SearchEngine as SE
search_eng = SE.SearchEngine() # initialize a search engine

## Search title

In [8]:
res = search_eng.query(user_id=904, text="i love you", K=10_000, save_res=False) # we set K = 1e4 here just for demo purpose, 
# so we can see the tail of all books. This K is set to 20 by default, retrieving top 20 recommendations.

In [9]:
res.head(20) # top recommended books

,book_id,authors,title,isbn13,in_to_read_list,final_score
0,8648,"Bernadette Rossetti-Shustak, Caroline Jayne Ch...",I Love You Through And Through,9.780440e+12,False,2.731939
1,3741,Lisa Gardner,Love You More,9.780554e+12,False,2.591963
2,608,"Robert Munsch, Sheila McGraw",Love You Forever,9.780921e+12,False,2.535250
3,863,"Sam McBratney, Anita Jeram",Guess How Much I Love You,9.780764e+12,False,2.452524
4,6402,Cecily von Ziegesar,You Know You Love Me,9.780317e+12,False,2.450719
5,269,Cecelia Ahern,"PS, I Love You",9.780787e+12,False,2.387713
6,656,Ally Carter,"I'd Tell You I Love You, But Then I'd Have to ...",9.781423e+12,False,2.095345
7,2112,Jenny Han,P.S. I Still Love You,9.781442e+12,False,1.983324
8,9423,Sarra Manning,You Don't Have to Say You Love Me,9.780552e+12,False,1.965195
9,3401,Jennifer Weiner,Who Do You Love,9.781452e+12,False,1.811071
10,2051,Katherine Dunn,Geek Love,9.780376e+12,False,1.692519
11,7636,"Durjoy Datta, Maanvi Ahuja",of course i love you,9.788189e+12,False,1.679624
12,2813,Caroline Kepnes,You,9.781477e+12,False,1.667742
13,8479,Siri Hustvedt,What I Loved,9.780341e+12,False,1.667159
14,6242,Louise Erdrich,Love Medicine,9.780061e+12,False,1.614304
15,4444,Raymond Chandler,"Farewell, My Lovely",9.780395e+12,False,1.593087
16,7051,Laurelin Paige,Forever with You,NaN,False,1.588062
17,9523,Chuck Palahniuk,Beautiful You,9.780386e+12,False,1.586447
18,8137,Tarryn Fisher,F*ck Love,NaN,False,1.578737
19,3830,Sharon Creech,Love That Dog,9.780064e+12,False,1.569938

In [10]:
res.tail() # least recommended books

,book_id,authors,title,isbn13,in_to_read_list,final_score
9995,9762,"Robert T. Kiyosaki, Sharon L. Lechter",Rich Dad's Guide to Investing: What the Rich I...,9.780447e+12,False,0.137113
9996,2015,Robert James Waller,The Bridges of Madison County,9.780446e+12,False,0.135583
9997,636,Mark Cotta Vaz,The Twilight Saga Breaking Dawn Part 1: The Of...,9.780316e+12,False,0.133925
9998,9755,Pepper Winters,Debt Inheritance,9.781501e+12,False,0.128886
9999,992,"Stephenie Meyer, Ilyana Kadushin, Matt Walters",The Twilight Saga,9.780739e+12,False,0.127241

## Search Author 

The model would also recognize if an author name shows up in the query, thus recommending more books by the given author(s).

In [11]:
res2 = search_eng.query(user_id=309, text="Louisa May Alcott", K=10_000, save_res=False)

In [12]:
res2.head(20)

,book_id,authors,title,isbn13,in_to_read_list,final_score
0,42,Louisa May Alcott,Little Women,9.780452e+12,False,34.348733
1,3580,Louisa May Alcott,"Little Men, or Life at Plumfield with Jo's Boys",9.781407e+12,False,27.551674
2,8888,Louisa May Alcott,An Old-Fashioned Girl,9.781407e+12,False,25.631115
3,7430,Louisa May Alcott,Rose in Bloom,9.780316e+12,False,24.009470
4,5458,Louisa May Alcott,"Jo's Boys, and How They Turned Out: A Sequel t...",9.781407e+12,False,14.770690
5,4645,Louisa May Alcott,Eight Cousins,9.780486e+12,False,14.577676
6,8740,Louisa May Alcott,Good Wives,9.781419e+12,False,12.257887
7,184,"Roald Dahl, Quentin Blake",Matilda,9.780141e+12,False,1.961975
8,1210,L.M. Montgomery,Anne of Avonlea,9.780553e+12,False,1.785306
9,5086,Alison Weir,The Lady Elizabeth,9.780345e+12,False,1.639275
10,8618,Antonia Fraser,The Wives of Henry VIII,9.780680e+12,False,1.593112
11,7015,"Stephen King, Michael Whelan",The Little Sisters of Eluria,9.781880e+12,False,1.546178
12,5103,Daniel Silva,The English Girl,9.780062e+12,False,1.539480
13,3904,L.M. Montgomery,Anne of Ingleside,9.780553e+12,False,1.532296
14,6090,Sarah McCoy,The Baker's Daughter,9.780307e+12,False,1.488857
15,3302,Juliet Marillier,Daughter of the Forest,9.780765e+12,False,1.484350
16,1198,Hanya Yanagihara,A Little Life,9.780386e+12,True,1.478202
17,9113,Carolly Erickson,The Last Wife of Henry VIII,9.780312e+12,False,1.462368
18,5880,Megan Whalen Turner,The Queen of Attolia,9.780061e+12,False,1.455489
19,1222,"E.B. White, Garth Williams",Stuart Little,9.780064e+12,False,1.448299

In [13]:
res2.tail()

,book_id,authors,title,isbn13,in_to_read_list,final_score
9995,4282,Chuck Palahniuk,Pygmy,9.780386e+12,False,0.111295
9996,2283,Alexandra Adornetto,Halo,9.780313e+12,False,0.111142
9997,4283,Lauren Weisberger,Revenge Wears Prada: The Devil Returns,9.781439e+12,False,0.106360
9998,8874,Chuck Palahniuk,Tell-All,9.780386e+12,False,0.099585
9999,52,Stephenie Meyer,Eclipse,9.780316e+12,False,0.096276

## Multiligual Support
Our model would also return non-English books!

In [14]:
noneng = search_eng.query(user_id=907, text="education", K=20, save_res=False)

In [15]:
noneng # French and Japanese books present

,book_id,authors,title,isbn13,in_to_read_list,final_score
0,7952,"Gustave Flaubert, Robert Baldick, Geoffrey Wall",L'Éducation sentimentale,9.780140e+12,True,2.582217
1,5452,Gordon Korman,Schooled,9.780787e+12,False,2.129030
2,2881,Terry Pratchett,Making Money,9.780061e+12,False,1.963683
3,4501,"Esther Hicks, Jerry Hicks, Wayne W. Dyer",Ask and It Is Given: Learning to Manifest Your...,9.788190e+12,False,1.879961
4,6452,"Tachibana Higuchi, 樋口 橘",学園アリス１,9.781428e+12,False,1.868079
5,3966,Frank McCourt,Teacher Man,9.780743e+12,False,1.858160
6,3949,Aristotle,Politics,9.780486e+12,False,1.815563
7,4875,"Lee Child, Dick Hill",Night School,9.780804e+12,False,1.794176
8,6274,Jonathan Kozol,Savage Inequalities: Children in America's Sch...,9.780061e+12,False,1.786437
9,6184,Martin Amis,Money,9.780099e+12,False,1.769389
10,2886,Soman Chainani,The School for Good and Evil,9.780062e+12,False,1.763831
11,9006,Forrest Carter,The Education of Little Tree,9.780826e+12,False,1.754247
12,3654,Terry Pratchett,Unseen Academicals,9.780061e+12,False,1.728209
13,4680,Nora Roberts,Key of Knowledge,9.780739e+12,False,1.727002
14,4925,Terry Pratchett,Nation,9.780061e+12,False,1.720927
15,8173,"Michael Buckley, Peter Ferguson",The Problem Child,9.780811e+12,False,1.713811
16,3392,J.I. Packer,Knowing God,9.780831e+12,False,1.699567
17,3671,Nelson DeMille,The Charm School,9.780752e+12,False,1.675017
18,7421,Emily M. Danforth,The Miseducation of Cameron Post,9.780062e+12,False,1.674375
19,8712,Jeff Kinney,Old School,9.781420e+12,False,1.670329

It also supports non-English query.

In [16]:
noneng2 = search_eng.query(user_id=305, text="学園アリス１", K=20, save_res=False) # not really sure what this Japanense phrase means though...

In [17]:
noneng2

,book_id,authors,title,isbn13,in_to_read_list,final_score
0,6452,"Tachibana Higuchi, 樋口 橘",学園アリス１,9.781428e+12,False,3.759786
1,5493,"Tetsuko Kuroyanagi, Chihiro Iwasaki, Dorothy B...",窓ぎわのトットちゃん,9.784770e+12,False,2.402668
2,7974,"Shūsaku Endō, William Johnston",沈黙,9.780801e+12,False,2.241901
3,1183,"Hajime Isayama, Sheldon Drzka",進撃の巨人 1,9.781613e+12,False,2.060279
4,649,"Haruki Murakami, Jay Rubin, Philip Gabriel",いちきゅうはちよん [Ichi-Kyū-Hachi-Yon],9.780308e+12,True,2.057264
5,1282,"Haruki Murakami, Jay Rubin",アフターダーク [Afutā dāku],9.780307e+12,True,2.008034
6,2537,Atsushi Ohkubo,ソウルイーター 1,9.780760e+12,False,1.991549
7,1828,Rumiko Takahashi,犬夜叉 1,9.781569e+12,False,1.878322
8,5291,"Yuu Watase, Yuji Oniki",ふしぎ遊戯 1,9.781569e+12,False,1.860324
9,3538,أحمد مراد,ڤيرتيجو,NaN,False,1.833764
10,6378,"Tomoko Hayakawa, David Ury",ヤマトナデシコ七変化,9.780345e+12,False,1.833684
11,2460,"Kazue Kato, John Werry",青の祓魔師 1,9.781422e+12,False,1.828983
12,9983,Kazue Kato,青の祓魔師 2,9.782850e+12,False,1.823753
13,9906,Bisco Hatori,桜蘭高校ホスト部 4,9.781422e+12,False,1.808360
14,9319,Bisco Hatori,桜蘭高校ホスト部 15,9.781422e+12,False,1.797785
15,8172,Bisco Hatori,桜蘭高校ホスト部 2,9.781591e+12,False,1.760252
16,9553,"Hajime Isayama, Hikaru Suruga, Gan Sunaaku",進撃の巨人 悔いなき選択 1,9.781613e+12,False,1.760123
17,4851,Kyousuke Motomi,電撃デイジー 1,9.789792e+12,False,1.755261
18,9161,Bisco Hatori,桜蘭高校ホスト部 3,9.781422e+12,False,1.745201
19,9598,Atsushi Ohkubo,ソウルイーター 2,9.780760e+12,False,1.736210

## Personalized
Different people tend to get search results in slightly different orders, based on their past reading habit and future reading plan, abeit same query text.

In [18]:
p1 = search_eng.query(user_id=233, text="hello world", save_res=False)
p2 = search_eng.query(user_id=1024, text="hello world", save_res=False)

In [19]:
p1.head()

,book_id,authors,title,isbn13,in_to_read_list,final_score
0,2008,Susan Ee,World After,9.781445e+12,False,2.166993
1,7455,Paulette Jiles,News of the World,9.780062e+12,False,1.971523
2,6676,Mhairi McFarlane,You Had Me At Hello,9.780007e+12,False,1.940438
3,4725,Sonia Sotomayor,My Beloved World,9.780308e+12,False,1.819182
4,7933,Marcus Sakey,A Better World,NaN,False,1.715802

In [20]:
p2.head()

,book_id,authors,title,isbn13,in_to_read_list,final_score
0,2008,Susan Ee,World After,9.781445e+12,False,1.961001
1,6676,Mhairi McFarlane,You Had Me At Hello,9.780007e+12,False,1.895469
2,7933,Marcus Sakey,A Better World,NaN,False,1.814291
3,7455,Paulette Jiles,News of the World,9.780062e+12,False,1.789645
4,4725,Sonia Sotomayor,My Beloved World,9.780308e+12,False,1.765323

## To-read List

The model considers the book on one's to-read list, and of course it is personalized based on one's past ratings. Let's see what it returns if we do not put anything in the query.

In [21]:
res3 = search_eng.query(user_id=309, text="", K=10_000, save_res=False)

In [22]:
res3.head(20) # Top 20 recommended books are all in user 309's to-read list!

,book_id,authors,title,isbn13,in_to_read_list,final_score
0,87,"Elie Wiesel, Marion Wiesel",Un di Velt Hot Geshvign,9.780375e+12,True,0.313195
1,181,Truman Capote,In Cold Blood,9.780680e+12,True,0.293224
2,289,Richard Adams,Watership Down,9.780380e+12,True,0.289965
3,57,Sue Monk Kidd,The Secret Life of Bees,9.780142e+12,True,0.285388
4,426,"John Kennedy Toole, Walker Percy",A Confederacy of Dunces,9.780802e+12,True,0.285237
5,36,Lois Lowry,The Giver,9.780386e+12,True,0.282680
6,118,Amy Tan,The Joy Luck Club,9.780143e+12,True,0.281697
7,1223,Isaac Asimov,The Foundation Trilogy,9.780381e+12,True,0.280561
8,385,Susan Cain,Quiet: The Power of Introverts in a World that...,9.780307e+12,True,0.279951
9,129,Ken Kesey,One Flew Over the Cuckoo's Nest,9.780451e+12,True,0.278756
10,1198,Hanya Yanagihara,A Little Life,9.780386e+12,True,0.275869
11,7290,James Jones,From Here to Eternity,9.780517e+12,True,0.275590
12,357,"Erich Maria Remarque, A.W. Wheen",Im Westen nichts Neues,9.780449e+12,True,0.274877
13,2570,Margaret Atwood,MaddAddam,9.780386e+12,True,0.274070
14,4378,Brian McClellan,Promise of Blood,9.780316e+12,True,0.272871
15,6310,Gavin Extence,The Universe Versus Alex Woods,9.780316e+12,True,0.271177
16,35,"Paulo Coelho, Alan R. Clarke",O Alquimista,9.780061e+12,True,0.271065
17,614,"Franz Kafka, Edwin Muir, Willa Muir, Max Brod",Der Prozeß,9.780099e+12,True,0.269802
18,5954,Paul Tremblay,A Head Full of Ghosts,9.780062e+12,True,0.267223
19,794,Stephen King,Doctor Sleep,9.781477e+12,True,0.265412